pyramid
paster
nose
waitress
gunicorn
requests
elasticsearch
progressbar2
python-memcached
dogpile
dogpile.cache
pylibmc
pyramid_debugtoolbar
-e git+git://github.com/scieloorg/xylose.git#egg=xylose
fabric
