requests==2.8.1
elasticsearch==1.5.0
python-memcached==1.54
python-binary-memcached==0.24.3
dogpile.cache==0.6.1
thriftpy==0.3.1
pyramid==1.5.7
xylose==1.16.5
articlemetaapi==1.5.10
-e git+https://github.com/scieloorg/thriftpy-wrap@0.1.1#egg=thriftpywrap
-e git+https://github.com/scieloorg/citedby@2.11.8#egg=citedby
